build

gnostr-*.patch
gnostr
gnostr-act
gnostr-cat
gnostr-cli
gnostr-client
gnostr-command
gnostr-configurator
gnostr-getrelays
gnostr-get-relays
gnostr-get-relays-c
gnostr-git
gnostr-git-instaweb
gnostr-gnode
gnostr-grep
gnostr-jq
gnostr-legit
gnostr-pi
gnostr-req
gnostr-set-relays
gnostr-sha256
gnostr-tests
web/gnostr-web
src/nostril/libnostri.a
src/nostril/nostril

libnostr.a

node_modules

## Cargo.lock
## Cargo.toml

## GIT-VERSION-FILE

## src/nostril/nostril

http_client
http_relay
nostro

cmake_install.cmake
CMakeFiles/

nostro.log.txt
server.crt
server.key

vostro
vostro.log.txt

desktop/gnostro.app

list_01.txt
list_02.txt
CHANGELOG
KEYS

!deps/gnostr-git/config.*
*.o
/.direnv/
.privenv

*.dylib

install_manifest.txt
response.txt
src/nostril/Makefile

Makefile
CMakeCache.txt

a.out
jsmin

gnostr-*.*.*-*-*
dist/gnostr-*.*.*-*-*
dist-*
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

*.json

dist
.dist-*

**.DS_Store
deps/.DS_Store

ext/boost_1_82_0
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake
ext/secp256k1-0.3.2/examples/CTestTestfile.cmake

ext/wt-4.10.0/wt-config-version.cmake
ext/wt-4.10.0/wt-config.cmake
ext/wt-4.10.0/examples

ext/wxWidgets-3.2.2.1


deps/gnostr-proxy/resources/js/isomophic-git/__tests__/


## libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

bin

.gnostr/gnostr-proxy
.nvmrc
.gnostr/proxy
.gnostr

.github/.DS_Store
.github/workflows/.DS_Store

pubkeys.txt

ext/wt-4.10.0/CMakeDoxyfile.in
ext/wt-4.10.0/CMakeDoxygenDefaults.cmake
ext/wt-4.10.0/Wt/
ext/wt-4.10.0/src/AuthCssTheme_xml.C
ext/wt-4.10.0/src/AuthStrings_xml.C
ext/wt-4.10.0/src/Boot_html.C
ext/wt-4.10.0/src/Boot_js.C
ext/wt-4.10.0/src/Bootstrap3Theme_xml.C
ext/wt-4.10.0/src/Bootstrap5Theme_xml.C
ext/wt-4.10.0/src/BootstrapTheme_xml.C
ext/wt-4.10.0/src/Hybrid_html.C
ext/wt-4.10.0/src/Plain_html.C
ext/wt-4.10.0/src/WCartesianChart_js.C
ext/wt-4.10.0/src/Wt_js.C
ext/wt-4.10.0/src/Wt_xml.C
ext/wt-4.10.0/wt_config.xml
wostro.log.txt

ext/Simple-WebSocket-Server-v2.0.2/bash_profile.log
ext/wt-4.10.0/bash_profile.log
ext/wt-4.10.0/examples/gitmodel/gitview.wt
ext/wt-4.10.0/examples/wt-homepage/Home.wt
ext/wt-4.10.0/examples/wt-homepage/bash_profile.log
ext/wt-4.10.0/test/test.http
ext/wt-4.10.0/test/test.mssqlserver
ext/wt-4.10.0/test/test.sqlite3
ext/wt-4.10.0/test/test.wt

src/nostril/.envrc
src/nostril/.github/
src/nostril/.gitignore
src/nostril/.gitmodules
src/nostril/default.nix
src/nostril/devtools/
src/nostril/doc/
src/nostril/nostril-query
src/nostril/scripts/
src/nostril/shell.nix

tests.log.txt
web/wt_config.xml
web/APP_KEY
.gnostr/org
.gnostr/web

#gnostr-act:gnostr-alpine.tml
gnostr-alpine

# Added by cargo
#
# already existing elements were commented out

#/target
.gnostr/webview


#test

gnostr-get-relays-test
gnostr-sha256-tests
gnostr-test
gnostr-tests.ld_Fyo5JH

#ext
ext/curl-8.5.0/CMake/cmake_uninstall.cmake
ext/curl-8.5.0/autom4te.cache/
ext/curl-8.5.0/config.log
ext/curl-8.5.0/configure~
ext/curl-8.5.0/curl-config
ext/curl-8.5.0/curl-target.cmake
ext/curl-8.5.0/docs/examples/.deps/
ext/curl-8.5.0/generated/
ext/curl-8.5.0/lib/.deps/
ext/curl-8.5.0/lib/Makefile.inc.cmake
ext/curl-8.5.0/lib/Makefile.soname.cmake
ext/curl-8.5.0/lib/curl_config.h
ext/curl-8.5.0/lib/libcurl.vers
ext/curl-8.5.0/lib/stamp-h1
ext/curl-8.5.0/lib/vauth/.deps/
ext/curl-8.5.0/lib/vquic/.deps/
ext/curl-8.5.0/lib/vssh/.deps/
ext/curl-8.5.0/lib/vtls/.deps/
ext/curl-8.5.0/libcurl-target.cmake
ext/curl-8.5.0/libcurl.pc
ext/curl-8.5.0/libtool
ext/curl-8.5.0/run-compiler
ext/curl-8.5.0/src/.deps/
ext/curl-8.5.0/src/Makefile.inc.cmake
ext/curl-8.5.0/src/curl
ext/curl-8.5.0/src/gnostr-curl
ext/curl-8.5.0/tests/config
ext/curl-8.5.0/tests/configurehelp.pm
ext/curl-8.5.0/tests/data/Makefile.inc.cmake
ext/curl-8.5.0/tests/http/clients/.deps/
ext/curl-8.5.0/tests/http/config.ini
ext/curl-8.5.0/tests/libtest/.deps/
ext/curl-8.5.0/tests/libtest/Makefile.inc.cmake
ext/curl-8.5.0/tests/libtest/chkhostname
ext/curl-8.5.0/tests/server/.deps/
ext/curl-8.5.0/tests/server/Makefile.inc.cmake
ext/curl-8.5.0/tests/unit/.deps/
ext/curl-8.5.0/tests/unit/Makefile.inc.cmake

