build

#non-cmake
gnostr-am

gnostr-*.patch
gnostr
gnostr-act
gnostr-cat
gnostr-cli
gnostr-client
gnostr-command
gnostr-configurator
gnostr-curl
gnostr-getrelays
gnostr-get-relays
gnostr-get-relays-c
gnostr-git
gnostr-git-instaweb
gnostr-gnode
gnostr-grep
gnostr-jq
gnostr-legit
gnostr-pi
gnostr-req
gnostr-set-relays
gnostr-sha256
gnostr-tests
web/gnostr-web
src/nostril/libnostri.a
src/nostril/nostril

libnostr.a

node_modules

## Cargo.lock
## Cargo.toml

## GIT-VERSION-FILE

## src/nostril/nostril

http_client
http_relay
nostro

cmake_install.cmake
CMakeFiles/

nostro.log.txt
server.crt
server.key

vostro
vostro.log.txt

desktop/gnostro.app

list_01.txt
list_02.txt
CHANGELOG
KEYS

!deps/gnostr-git/config.*
*.o
/.direnv/
.privenv

*.dylib

install_manifest.txt
response.txt
src/nostril/Makefile

Makefile
CMakeCache.txt

a.out
jsmin

gnostr-*.*.*-*-*
dist/gnostr-*.*.*-*-*
dist-*
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

*.json

src/libcjson/bin/libcjson.a

dist
.dist-*

**.DS_Store
deps/.DS_Store

ext/boost_1_82_0
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake
ext/secp256k1-0.3.2/examples/CTestTestfile.cmake

ext/wt-4.10.0/wt-config-version.cmake
ext/wt-4.10.0/wt-config.cmake
ext/wt-4.10.0/examples

ext/wxWidgets-3.2.2.1


deps/gnostr-proxy/resources/js/isomophic-git/__tests__/


## libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

bin

.gnostr/gnostr-proxy
.nvmrc
.gnostr/proxy
.gnostr

.github/.DS_Store
.github/workflows/.DS_Store

pubkeys.txt

ext/wt-4.10.0/CMakeDoxyfile.in
ext/wt-4.10.0/CMakeDoxygenDefaults.cmake
ext/wt-4.10.0/Wt/
ext/wt-4.10.0/src/AuthCssTheme_xml.C
ext/wt-4.10.0/src/AuthStrings_xml.C
ext/wt-4.10.0/src/Boot_html.C
ext/wt-4.10.0/src/Boot_js.C
ext/wt-4.10.0/src/Bootstrap3Theme_xml.C
ext/wt-4.10.0/src/Bootstrap5Theme_xml.C
ext/wt-4.10.0/src/BootstrapTheme_xml.C
ext/wt-4.10.0/src/Hybrid_html.C
ext/wt-4.10.0/src/Plain_html.C
ext/wt-4.10.0/src/WCartesianChart_js.C
ext/wt-4.10.0/src/Wt_js.C
ext/wt-4.10.0/src/Wt_xml.C
ext/wt-4.10.0/wt_config.xml
wostro.log.txt

ext/Simple-WebSocket-Server-v2.0.2/bash_profile.log
ext/wt-4.10.0/bash_profile.log
ext/wt-4.10.0/examples/gitmodel/gitview.wt
ext/wt-4.10.0/examples/wt-homepage/Home.wt
ext/wt-4.10.0/examples/wt-homepage/bash_profile.log
ext/wt-4.10.0/test/test.http
ext/wt-4.10.0/test/test.mssqlserver
ext/wt-4.10.0/test/test.sqlite3
ext/wt-4.10.0/test/test.wt

src/nostril/.envrc
src/nostril/.github/
src/nostril/.gitignore
src/nostril/.gitmodules
src/nostril/default.nix
src/nostril/devtools/
src/nostril/doc/
src/nostril/nostril-query
src/nostril/scripts/
src/nostril/shell.nix

tests.log.txt
web/wt_config.xml
web/APP_KEY
.gnostr/org
.gnostr/web

#gnostr-act:gnostr-alpine.tml
gnostr-alpine

# Added by cargo
#
# already existing elements were commented out

#/target
.gnostr/webview


#test

gnostr-get-relays-test
gnostr-sha256-tests
gnostr-test
gnostr-tests.ld_Fyo5JH

#ext
ext/curl-8.5.0/CMake/cmake_uninstall.cmake
ext/curl-8.5.0/autom4te.cache/
ext/curl-8.5.0/config.log
ext/curl-8.5.0/configure~
ext/curl-8.5.0/curl-config
ext/curl-8.5.0/curl-target.cmake
ext/curl-8.5.0/docs/examples/.deps/
ext/curl-8.5.0/generated/
ext/curl-8.5.0/lib/.deps/
ext/curl-8.5.0/lib/Makefile.inc.cmake
ext/curl-8.5.0/lib/Makefile.soname.cmake
ext/curl-8.5.0/lib/curl_config.h
ext/curl-8.5.0/lib/libcurl.vers
ext/curl-8.5.0/lib/stamp-h1
ext/curl-8.5.0/lib/vauth/.deps/
ext/curl-8.5.0/lib/vquic/.deps/
ext/curl-8.5.0/lib/vssh/.deps/
ext/curl-8.5.0/lib/vtls/.deps/
ext/curl-8.5.0/libcurl-target.cmake
ext/curl-8.5.0/libcurl.pc
ext/curl-8.5.0/libtool
ext/curl-8.5.0/run-compiler
ext/curl-8.5.0/src/.deps/
ext/curl-8.5.0/src/Makefile.inc.cmake
ext/curl-8.5.0/src/curl
ext/curl-8.5.0/src/gnostr-curl
ext/curl-8.5.0/tests/config
ext/curl-8.5.0/tests/configurehelp.pm
ext/curl-8.5.0/tests/data/Makefile.inc.cmake
ext/curl-8.5.0/tests/http/clients/.deps/
ext/curl-8.5.0/tests/http/config.ini
ext/curl-8.5.0/tests/libtest/.deps/
ext/curl-8.5.0/tests/libtest/Makefile.inc.cmake
ext/curl-8.5.0/tests/libtest/chkhostname
ext/curl-8.5.0/tests/server/.deps/
ext/curl-8.5.0/tests/server/Makefile.inc.cmake
ext/curl-8.5.0/tests/unit/.deps/
ext/curl-8.5.0/tests/unit/Makefile.inc.cmake

ext/curl-8.5.0/lib/libcurl.a

##cargo vendor
vendor/aho-corasick/
vendor/assert_cmd/
vendor/autocfg/
vendor/base16ct/
vendor/base64ct/
vendor/bitflags-1.3.2/
vendor/bitflags/
vendor/block-buffer/
vendor/bstr/
vendor/cc/
vendor/cfg-if/
vendor/const-oid/
vendor/cpufeatures/
vendor/crypto-bigint/
vendor/crypto-common/
vendor/der/
vendor/difflib/
vendor/digest/
vendor/doc-comment/
## vendor/ecdsa/
vendor/either/
## vendor/elliptic-curve/
vendor/errno/
vendor/fastrand/
vendor/ff/
vendor/float-cmp/
vendor/generic-array/
## vendor/getrandom/
vendor/group/
vendor/hkdf/
vendor/hmac/
vendor/inline-c-macro/
vendor/inline-c/
vendor/itertools/
vendor/lazy_static/
vendor/libc/
vendor/linux-raw-sys/
vendor/memchr/
vendor/normalize-line-endings/
vendor/num-traits/
vendor/once_cell/
vendor/pest/
vendor/pkcs8/
vendor/predicates-core/
vendor/predicates-tree/
vendor/predicates/
vendor/proc-macro2/
vendor/quote/
## vendor/rand_core/
vendor/redox_syscall/
vendor/regex-automata-0.1.10/
vendor/regex-automata/
vendor/regex-syntax/
vendor/regex/
vendor/rfc6979/
vendor/rustc_version/
vendor/rustix/
vendor/sec1/
vendor/semver-parser/
vendor/semver/
vendor/signature/
vendor/spki/
vendor/subtle/
vendor/syn/
vendor/target-lexicon/
vendor/tempfile/
vendor/termtree/
vendor/thiserror-impl/
vendor/thiserror/
vendor/typenum/
vendor/ucd-trie/
vendor/unicode-ident/
vendor/version_check/
vendor/wait-timeout/
vendor/wasi/
vendor/windows-sys/
vendor/windows-targets/
vendor/windows_aarch64_gnullvm/
vendor/windows_aarch64_msvc/
vendor/windows_i686_gnu/
vendor/windows_i686_msvc/
vendor/windows_x86_64_gnu/
vendor/windows_x86_64_gnullvm/
vendor/windows_x86_64_msvc/
vendor/zeroize/

vendor/ecdsa/
vendor/elliptic-curve/
vendor/form_urlencoded/
vendor/getopts/
vendor/getrandom/
vendor/git2/
vendor/idna/
vendor/jobserver/
vendor/libgit2-sys/
vendor/libssh2-sys/
vendor/libz-sys/
vendor/log/
vendor/openssl-probe/
vendor/openssl-sys/
vendor/percent-encoding/
vendor/pkg-config/
vendor/tinyvec/
vendor/tinyvec_macros/
vendor/unicode-bidi/
vendor/unicode-normalization/
vendor/unicode-width/
vendor/url/
vendor/vcpkg/
