name: gnostr

# Controls when the action will run.
on:
  pull_request:
    branches:
      - '*'
      - '*/*'
      - '**'
      - 'master'
      - 'main'
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - 'master'
      - 'main'

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    env:
      GNOSTR: "gnostr"
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: echo test
        #if: ${{ !env.ACT }}
        run: |
          echo GNOSTR=${{ env.GNOSTR }}
          echo GNOSTR1=${{ env.GNOSTR1 }}
        env:
          GNOSTR1: "GNOSTR1"
      - uses: styfle/cancel-workflow-action@0.11.0
        if: ${{ !env.ACT }}
        with:
          access_token: ${{ github.token }}
      - name: Restore deps
        id: cache-deps-restore
        uses: actions/cache/restore@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.rustup
          key: ${{ runner.os }}-deps

      - uses: actions/checkout@v3
        with:
          submodules: 'true'
          set-safe-directory: 'true'
          fetch-depth: '10'

      - uses: actions-rs/toolchain@v1.0.6
        #if: ${{ !env.ACT }}
        with:
          toolchain: stable
          default: true
          override: true

      - run: rustup default stable
      - run: cargo search gnostr --limit 100
      - run: mkdir -p ~/bin

      #- run: for t in */Cargo.toml;do echo $t;cargo b -r -vv --manifest-path $t ;done
      ## objective: ensure make detect installs all needed depends/libs/etc
      ## make detect is first for brew install sequence OR sudo make detect for apt install
      - run: make detect || sudo make detect
      - run: python3 -m pip install virtualenv

      ## objective: test non-cmake build gnostr-am
      - run: make gnostr-am gnostr-install
      - run: make gnostr-sha256 gnostr-bins
      - run: gnostr-am --sec $(gnostr-sha256 $(gnostr-weeble)) --content $(gnostr-weeble)/$(gnostr-blockheight)/$(gnostr-wobble) -t gnostr --tag weeble $(gnostr-weeble) --tag blockheight $(gnostr-blockheight) --tag wobble $(gnostr-wobble)

      ## objective: test cmake build gnostr
      ## objective: test cargo build/install gnostr-bins
      - run: cmake .
      - run: V=1 make gnostr bins xq
      - run: V=1 make gnostr-install
      - run: V=1 make gnostr-verify-keypair
      ## objective: test cmake build gnostr with gnostr-nip
      - run: gnostr-nip --sec $(gnostr-sha256) | gnostr-post-event
      - run: gnostr-am --sec $(gnostr-sha256 $(gnostr-weeble)) --content $(gnostr-weeble)/$(gnostr-blockheight)/$(gnostr-wobble) -t gnostr --tag weeble $(gnostr-weeble) --tag blockheight $(gnostr-blockheight) --tag wobble $(gnostr-wobble)

      - name: V=1 sudo make cat doc
        if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest'
        run: V=1 sudo make cat doc || true

      #- name: V=1 make gnostr-all
      #  run: V=1 make gnostr-all

      #- name: V=1 make gnostr-install
      #  if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
      #  run: V=1 make gnostr-install

      #- name: ./build.cmake.sh
      #  if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
      #  run: ./build.cmake.sh

      - name: Save deps
        id: cache-deps-save
        uses: actions/cache/save@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.rustup
          key: ${{ steps.cache-deps-restore.outputs.cache-primary-key }}

